<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assetsnew/images/favicon.svg"
      type="image/x-icon"
    />
    <title><%= extra.arcio.title %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    
    <script src="https://kit.fontawesome.com/9f45c806ba.js" crossorigin="anonymous"></script>
    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="/assetsnew/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assetsnew/css/lineicons.css" />
    <link rel="stylesheet" href="/assetsnew/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/assetsnew/css/fullcalendar.css" />
    <link rel="stylesheet" href="/assetsnew/css/fullcalendar.css" />
    <link rel="stylesheet" href="/assetsnew/css/main.css" />
  </head>
  <body class="darkTheme">

    <!-- ======== sidebar-nav =========== -->
    <%- include('./theme_assets/mainnav') %>
 

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->
      <%- include('./theme_assets/header') %>
    
    
          
          
          <!-- End Row -->
          <div class="row">
            <div class="col">
              <div class="card-style">
                <div class="card-header">
                    <div class="card-title">Earn Coins</div>
                </div>
                <div class="card-body">
                    <a></a>
                    <center><a>Every <% if (settings.api.arcio["afk page"].every !== 1) { %><%= settings.api.arcio["afk page"].every %> seconds<% } else { %>second<% } %>, you will get <%= settings.api.arcio["afk page"].coins == 1 ? "a" : settings.api.arcio["afk page"].coins %> coin<%= settings.api.arcio["afk page"].coins == 1 ? "" : "s" %>.</a></center>
                    <center><a>You will gain coins again in <span id="arciotimer"><%= settings.api.arcio["afk page"].every %></span> seconds.</a></center>
                    <a></a>
                    <center><a>You have gained <span id="arciogainedcoins">0</span> coins currently</a></center>
                    <script>
                        <%- arcioafktext %>
                    </script>
                </div>
                         
                                
                </div>
            </div>
        </div>
    </div>
</div>  
          </div>
      </div>
</div>
                    <!-- end table -->
                  </div>
                <!-- End Chart -->
              </div>
            </div>
            <!-- End Col -->
            
          <!-- End Row -->
          
      <!-- ========== section end ========== -->
      <%- include('./theme_assets/footer') %>
      
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->
    <script src="/assetsnew/js/bootstrap.bundle.min.js"></script>
    <script src="/assetsnew/js/Chart.min.js"></script>
    <script src="/assetsnew/js/dynamic-pie-chart.js"></script>
    <script src="/assetsnew/js/moment.min.js"></script>
    <script src="/assetsnew/js/fullcalendar.js"></script>
    <script src="/assetsnew/js/jvectormap.min.js"></script>
    <script src="/assetsnew/js/world-merc.js"></script>
    <script src="/assetsnew/js/polyfill.js"></script>
    <script src="/assetsnew/js/main.js"></script>

    
  </body>
</html>
